.container{
    background-image: url("image/edit1.jpg");
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 500px;
}

.box{
    height:400px;
    width:200px;
    padding:10px;
    border-radius: 25px;
    background-color: white;
    font-family: script;
    color:rgb(209, 166, 129);
    font-size:larger


}

#text-box{
    height: 70px;
    
}

#btn{
    width: 170px;
    margin-top: 5px;
}

