<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="{{ url_for('static', filename='home.css' ) }}">
    <title>Document</title>
</head>
<body>
        <header class="container">
        <h1>Welcome To Foodie!</h1>
        <h2>Homemade Recipes</h2>
        <p>Join our foodie community by adding your favorite recipes to our blog</p>
    </header>

    <div class="card1" >
              <h1>Breakfast</h1>
              <img src="{{url_for('static',filename='image/breakfast.jpg')}}" alt="">
            {% for x in BreakFast %}
                <p>{{ x[1] }}</p>
                <a href = "/editrecipe/{{x[0]}}">Edit</a>
                <a href = "/addrecipe">Add</a>

        {% endfor %}
        
                <h1>Lunch</h1>
                <img src="{{url_for('static',filename='image/lunch.jpg')}}" alt="">

        {% for x in Lunch %} 
            <div class="card1">
                <p> {{ x[1]}} </p>
                <a href = "/editrecipe/{{x[0]}}">Edit</a>
                <a href = "/addrecipe">Add</a> 
            </div>
        {% endfor %}
    <div class="card1" >
        <h1>Dinner</h1>
        <img src="{{url_for('static',filename='image/dinner3.jpg')}}" alt="">
         {% for x in Dinner %} 

             <p> {{ x[1]}} </p>
             <a href = "/editrecipe/{{x[0]}}">Edit</a>  
             <a href = "/addrecipe">Add</a> 
        </div>
    
        {% endfor %}
    
                <h1>Dessert</h1>
                <img src="{{url_for('static',filename='image/dessert.jpg')}}" alt="">

        {% for x in Dessert %}
           <p>{{ x[1]}}</p>
           <a href = "/editrecipe/{{x[0]}}">Edit</a>
           <a href = "/addrecipe">Add</a> 
            </div>

        {% endfor %}        
          </div>
         
    <div class="container">
        <footer> &copy;Foodie's Blog</footer>
      </div>
   
   
</body>
</html>